<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.css">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="(( url_for("static", filename="styles.css") ))">


  <title>Brewer Controller</title>
</head>

<body>
  <!-- Title Hero -->
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Brewer Controller
        </h1>
      </div>
    </div>
  </section>

  <!-- Content -->

  <!-- Controller Section -->
  <section id="controller">
    <div class="containers">
      <div class="columns">
        <div class="column is-8 is-offset-2" id="main">
          <div class="box">
            <div class="columns">
              <!-- Relay Column -->
              <div class="column is-3">
                <div class="has-text-centered">
                  <h1 class="title">Relays</h1>
                </div>
                <hr>

                <!-- Relay Buttons -->
                <!-- Setting to name to the status becuase i can't get the value from Vue -->
                <a class="button relay-button" :id="relay['name']" :name="relay['status']" v-for="relay in relays" @click="setRelay" :class="{ 'is-primary': relay['status'], 'is-danger': !relay['status'] }" >{{ relay['prettyName'] }}</a>
                <br />
                <br />
                <a href="#" @click="allRelaysOff" class="button relay-button is-warning">All off</a>
                <hr>
                <a href="#" @click="toggleRims" :class="{ 'is-danger': pid['pid_running'], 'is-primary': !pid['pid_running'] }" class="relay-button button">RIMS</a>
              </div>

              <div class="column is-9">
                <div class="has-text-centered">
                  <h1 class="title">Temperatures</h1>
                </div>
                <hr>
                <div class="columns">
                  <div class="column is-6">
                    <!-- Setpoint Value Tile -->
                    <div class="tile is-parent">
                      <article class="tile is-child notification is-info" id="sv-tile">
                        <div class="content">
                          <p class="title">Setpoint Value {{ pid['sv'] }} ℉</p>
                        </div>
                      </article>
                    </div>
                    <!-- Set Setpoint Value Form -->

                      <div class="columns">
                        &nbsp;&nbsp;&nbsp;
                        <div class="column is-9" id="set-sv-column">
                          <!-- SV Text field -->
                          <div class="field">
                            <div class="control">
                              <input class="input" v-model="sv" pattern="[0-9].+" name="sv" type="text" placeholder="This should be a number">
                            </div>
                          </div>
                        </div>

                        <!-- Submit button -->
                        <div class="column is-3">
                          <a href="#" @click="setSv" class="button is-info">Set</a>
                        </div>
                      </div>
                  </div>

                  <div class="column is-6">
                    <!-- Proccess Value Tile -->
                    <div class="tile is-parent">
                      <article class="tile is-child notification is-info">
                        <div class="content">
                          <p class="title">Process Value {{ pid['pv'] }} ℉</p>
                        </div>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- End -->
</body>

</html>
<script src="(( url_for("static", filename="controller.js") ))"></script>
