<html>

<head>
  <title>Brewer</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.css">
  <link href="https: //fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<body>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Brewer
        </h1>
        <h2 class="subtitle">
          A decent looking interface
        </h2>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <h1 class="title">Recipe section here</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente velit quaerat, repellat, beatae in recusandae, distinctio inventore iure voluptas ipsam dolore ea obcaecati eos soluta. At error nemo beatae quam.
      </div>
      <div class="column is-6">
        <h1 class="title">Procedure section here</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus odit qui labore excepturi reiciendis, laudantium temporibus
        et, vel. Pariatur unde odio, cumque distinctio ut amet ipsa porro debitis quidem eos.
      </div>
    </div>
  </div>
</body>

</html>
